@import url("https://fonts.googleapis.com/css?family=Raleway");

.typography {
  @include media-breakpoint-up(xs) {
    a {
      font-size: 12px;
    }
    p {
      font-size: 12px;
    }
    .full-text {
      display: none;
    }
    .short-text {
      display: inline-flex;
    }
  }

  @include media-breakpoint-up(md) {
    a {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
    .full-text {
      display: inline-flex;
    }
    .short-text {
      display: none;
    }
  }

  a {
    color: $c-black;
  }
  a:hover,
  a:focus {
    color: $c-black;
    text-decoration: none;
    cursor: pointer;
  }

  span:hover,
  span:focus {
    cursor: pointer;
  }

  p {
    color: $c-black;
    margin: 0px;

    &.lengthy {
      word-break: break-all;
    }
  }

  h1 {
    font-weight: 700;
    color: $c-black;
    font-size: 24px;
    margin: 0px 0px 16px 0px;
  }

  h2 {
    font-weight: 500;
    color: $c-black;
    font-size: 18px;
    margin: 0px 0px 8px 0px;
  }

  ::-webkit-input-placeholder {
    /* Edge */
    color: $c-gray;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $c-gray;
  }

  ::placeholder {
    color: $c-gray;
  }

  * {
    font-family: $font-family-base;
    font-weight: 500;
    min-height: 0; /* Rendering problems using flexbox in Firefox and Chrome 48 */
    min-width: 0; /* Rendering problems using flexbox in Firefox and Chrome 48 */
    outline: 0 none !important;
  }
}
