// fontawesome

// $c-primary: #282e39;
// $c-secondary: #02edc3;
$c-primary: #1565c0;
$c-secondary: #ffde01;
$c-red: #d55864;
$c-green: #05c0a5;
$c-white: #fafafa;
$c-gray: #e5e5e5;
$c-black: #000000;
