.box {
  height: 90%;
  background: $c-white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  transition: 0.3s;
  padding: 0px 8px 20% 8px;
  margin: 5% 0px;
  text-align: center;
  &:hover {
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
  }
  &.active {
    &:hover {
      background-color: $c-green !important;
    }
  }
  &.negative {
    &:hover {
      background-color: $c-red !important;
    }
  }
  &.disabled {
    &:hover {
      background-color: $c-gray !important;
    }
  }
}

.box-form {
  height: 90%;
  background: $c-white;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  margin: 5% 0px;
  text-align: center;

  .input {
    width: 100%;
    height: 45px;
    border: solid 2px $c-gray;
    border-radius: 10px;
    padding: 0px 10px;

    &::placeholder,
    ::-webkit-input-placeholder,
    :-moz-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    ::-ms-input-placeholder {
      padding: 0px 0px 0px 10px;
      color: $c-gray;
    }
  }
}

.box-line {
  height: 50px;
  border-radius: 25px;
  padding: 0px 20px;
  margin: 5% 0px;
  background-color: $c-white;
  text-align: center;
  display: inline-flex;
  cursor: pointer;
}

// Checkbox input
ul.address-checkbox {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

ul.address-checkbox li {
  display: inline;
}
ul.address-checkbox li label {
  display: inline-block;
  background-color: $c-secondary;
  color: $c-black;
  border-radius: 25px;
  word-break: break-all;
  margin: auto;
  width: 90%;
  padding: 14px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s;
}

ul.address-checkbox li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-size: 14px;
  padding: 2px 6px 2px 2px;
  content: "\2718";
  transition: transform 0.3s ease-in-out;
}

ul.address-checkbox li input[type="checkbox"]:checked + label::before {
  content: "\2714";
  transform: rotate(-360deg);
  transition: transform 0.3s ease-in-out;
}

ul.address-checkbox li input[type="checkbox"]:checked + label {
  background-color: $c-green;
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
  color: $c-black;
  transition: all 0.3s;
}

ul.address-checkbox li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  display: absolute;
}

ul.address-checkbox li input[type="checkbox"]:hover + label {
  box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
}
