.primary {
  color: $c-primary !important;
}

.secondary {
  color: $c-secondary !important;
}

.white {
  color: $c-white !important;
}

.warning,
.error {
  color: $c-red !important;
}

.checked,
.success {
  color: $c-green !important;
}

.mainnet {
  background-color: #038789 !important;
}

.rinkeby {
  background-color: #ebb33f !important;
}

.goerli {
  background-color: #3099f2b3 !important;
}

.ropsten {
  background-color: #e91550 !important;
}

.kovan {
  background-color: #690496 !important;
}

.privatenet {
  background-color: $c-black !important;
}

.loading {
  -webkit-animation-name: myloading; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: myloading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  pointer-events: none;
  border-bottom: 4px solid;
  @keyframes myloading {
    0% {
      border-bottom-color: $c-primary;
    }
    50% {
      border-bottom-color: $c-secondary;
    }
    100% {
      border-bottom-color: $c-primary;
    }
  }
}
