i.arrow-right {
  background-image: url("../images/arrow-right-solid.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin: 0px 0px 0px 10px;
  min-width: 20px;
  height: auto;
  display: block;
  cursor: pointer;
}

i.arrow-left {
  background-image: url("../images/arrow-left-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.ethereum {
  background-image: url("../images/ethereum.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.prevent-fish {
  background-image: url("../images/dog-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.term-privacy {
  background-image: url("../images/scroll-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.support {
  background-image: url("../images/concierge-bell-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.previous {
  background-image: url("../images/chevron-left-solid.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.next {
  background-image: url("../images/chevron-right-solid.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.warning {
  background-image: url("../images/exclamation-circle-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.checked {
  background-image: url("../images/check-circle-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.metamask {
  background-image: url("../images/metamask.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  display: inline-flex;
  cursor: pointer;
  transition: background-size 0.15s ease-out;

  &:hover {
    background-size: 53%;
  }
}

i.mew {
  background-image: url("../images/mew.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  display: inline-flex;
  cursor: pointer;
  transition: background-size 0.15s ease-out;

  &:hover {
    background-size: 53%;
  }
}

i.hardwallet {
  background-image: url("../images/pendrive.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  display: inline-flex;
  cursor: pointer;
  transition: background-size 0.15s ease-out;

  &:hover {
    background-size: 53%;
  }
}

i.softwallet {
  background-image: url("../images/binary-code.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  display: inline-flex;
  cursor: pointer;
  transition: background-size 0.15s ease-out;

  &:hover {
    background-size: 53%;
  }
}

i.ledger {
  background-image: url("../images/ledger.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.trezor {
  background-image: url("../images/trezor.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.mew-solid {
  background-image: url("../images/mew-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.more {
  background-image: url("../images/ellipsis-h-solid.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: center;
  width: 100%;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.seed {
  background-image: url("../images/seedling-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.keystore {
  background-image: url("../images/file-upload-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.privatekey {
  background-image: url("../images/key-solid.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.github {
  background-image: url("../images/github-brands.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 2em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}

i.kambria {
  background-image: url("../images/kambria.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  width: 8em;
  height: 100%;
  display: inline-flex;
  cursor: pointer;
}
