.wrapper {
  margin: 40px 0px;
}

.wallet {
  margin: 0;
  padding: 0;
  background-color: $c-primary;
  // background-image: linear-gradient($c-primary 445px, $c-white 0%);
  // -webkit-background-image: linear-gradient($c-primary 445px, $c-white 0%);
  // -moz-background-image: linear-gradient($c-primary 445px, $c-white 0%);
  // -o-background-image: linear-gradient($c-primary 445px, $c-white 0%);
}

.wallet-header {
  height: 160px;
  width: 100%;
}

.wallet-body {
  min-height: 450px;
  width: 100%;
}

.wallet-footer {
  padding-bottom: 40px;
  height: auto;
  width: 100%;
}

.wallet-copyright {
  background-color: $c-primary;
  color: $c-white;
  padding: 10px;
  height: auto;
  width: 100%;
}

.row {
  margin: 0px;
}