.wallet-tab {
  background-color: $c-secondary;
  height: 50px;
  width: 100%;
}

.wallet-form {
  background-color: $c-white;
  width: 100%;
  padding: 20px;
}

.wallet-nav {
  border-style: solid;
  border-color: $c-secondary;
  transition: 0.3s;
  border-width: 0px;
  cursor: pointer;
  &:hover {
    border-width: 4px 0px !important;
  }
  &.standard {
    border-bottom-color: $c-primary;
  }
  &.active {
    border-bottom-color: $c-green;
  }
  &.negative {
    border-bottom-color: $c-red;
  }

  &.selected {
    border-width: 4px 0px !important;
  }
}
